@model FestivalSite.Models.LocalPasswordModel

<p>
    U hebt geen lokaal wachtwoord voor deze site. Voeg een lokaal wachtwoord toe zodat
    je kan inloggen zonder gebruik te maken van externe services.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                <label>Nieuw Wachtwoord</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control flat input-sm" })
            </li>
            <li>
                <label>Bevestig Wachtwoord</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control flat input-sm" })
            </li>
        </ol>
        <input type="submit" value="Opslaan" />
    </fieldset>
}
