@model IEnumerable<FestivalSite.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Bestelde Tickets</h2>
    <table class="overzichtsTable BodyText">

        <tr>
            <th>
                Naam
            </th>
            <th>
                Email
            </th>
            <th>
                Type Ticket
            </th>
            <th>
                Aantal
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketHolder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketHolderEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }

    </table>