@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article class="about">
    <header>
        <h3>Welkom</h3>
    </header>
    <p>
        Welkom op de website van onze festivalplanner. Als klant kunt u hier tickets bestellen voor het festival, alsook een overzicht van al je reeds bestelde tickets.
    </p>

    <header>
        <h3>Lineup & Bands</h3>
    </header>
    <p>
        Via de pagina @Html.ActionLink("Bands", "Bands", "Home", routeValues: null, htmlAttributes: new { id = "linkAbout" }) kunt u een overzicht te zien krijgen van alles bands of artiesten die verwacht worden. Hierbij staat ook de dag en de plaats van hun optreden.
    </p>

    <header>
        <h3>Bestellen tickets</h3>
    </header>
    <p>
        Tickets kunt u bestellen nadat u ingelogd bent op de website. Indien je nog geen account hebt hoeft u enkel te registreren.
    </p>
</article>