@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefoon</h3>
    </header>
    <p>
        <span class="label">Helpdesk:</span>
        <span>0477547373</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Voor al je vragen:</span>
        <span><a href="mailto:neirijnck@hotmail.com">neirijnck@hotmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Preben Neirijnck<br />
        Waternimfweg 16<br />
        8520 Kuurne
    </p>
</section>