@model IEnumerable<FestivalSite.Models.Band>

@{
    ViewBag.Title = "Home";
}

<h2>Bandoverzicht</h2>

<ul id="Bands">

@foreach (var item in Model) {
    <li id="BandItem">
        <div id="BandBlock">
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Picture)
            </p>
            <a href="@Url.Action("Details", "Home", new { id = item.Id })"><span id="BandLink"></span></a>
        </div>
    </li>
}

</ul>

